<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Group 1000002749</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre+Medium%3A500" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre+SemiBold%3A600" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600" />
  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body>
  <div class="group-1000002749-1Am">
    <div class="background-REV">
      <div class="auto-group-gux5-PU9">
        <div class="group-1000002759-Qu3">
          <div class="admin-maskerku-Xim">ADMIN MASKERKU</div>
          <img class="vector-6-NDb" src="REPLACE_IMAGE:1:106" />
          <div class="group-1000002754-uUR">
            <div class="group-1000002755-pbP">
              <img class="auto-group-58r9-iih" src="./assets/auto-group-58r9.png" />
              <div class="dashboard-TAV">Dashboard</div>
            </div>
            <div class="auto-group-ws17-6DT">
              <div class="group-1000002757-Yjf" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img class="auto-group-yaw7-5zV" src="./assets/auto-group-yaw7.png" />
                <div class="add-stock-E6h">Add Stock</div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Stok Produk</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/admin">
                            <select class="form-select mb-3" aria-label="Default select example">
                                <option selected>Pilih Produk</option>
                                <option value="1">Masker Headloop</option>
                                <option value="2">Masker Earloop</option>
                            </select>
                            <div class="form-floating">
                                <input type="number" class="form-control" id="jumlah" placeholder="Jumlah">
                                <label>Jumlah</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="auto-group-glzh-MBK">
          <div class="breadcrumb-tww">
            <p class="dashboard-4Ld">Dashboard</p>
            <img class="menu-Ns7" src="./assets/menu.png" />
          </div>
          <div class="auto-group-vfbt-WCd">
            <div class="group-1000002760-epd">
              <% dataAdmin.cartData.products.forEach(item=> { %>
              <div class="todays-money-nR3">
                <div class="text-uVf">
                  <p class="todays-money-Tn5">Produk ID: <%= item.product_id %></p>
                  <p class="item-53000-YoX">Stok: <%= item.stock_quantity %></p>
                </div>
                <img class="icon-HFK" src="./assets/icon-QDb.png" />
              </div>
              <% }); %>
            </div>
            <div class="background-mTK">
              <div class="text-6Vb">
                <p class="recent-sales-rDs">
                  <span class="recent-sales-rDs-sub-0">Recent</span>
                  <span class="recent-sales-rDs-sub-1"> Sales</span>
                </p>
              </div>
              <div class="list-exM">
                <div class="auto-group-jan9-oKT">
                  <div class="titles-Y29">
                    <p class="customer-fMf">CUSTOMER</p>
                    <p class="date-MVP">DATE</p>
                    <p class="item-tVK">ITEM</p>
                    <p class="amount-DnV">AMOUNT</p>
                    <p class="total-9w3">TOTAL</p>
                  </div>
                </div>
                <div class="items-rKf">
                  <div class="content-QMB">
                    <p class="ujang-8Y5">Ujang</p>
                    <p class="item-2-eWR">2</p>
                  </div>
                  <div class="launch-our-mobile-app-KcZ">
                    <div class="content-FFK">
                      <p class="bejo-xvR">Bejo</p>
                      <p class="item-2-fpq">2</p>
                    </div>
                  </div>
                  <div class="fix-platform-errors-9k1">
                    <div class="content-HLR">
                      <p class="kimia-farma-2J1">Kimia Farma</p>
                      <p class="item-3-Yn9">3</p>
                    </div>
                  </div>
                  <div class="progress-track-dYh">
                    <div class="content-MzV">
                      <p class="clinic-mulyosari-5fb">Clinic Mulyosari</p>
                      <p class="item-2-BTj">2</p>
                    </div>
                  </div>
                  <div class="soft-ui-xd-5JD">
                    <div class="content-x77">
                      <div class="group-1000002751-tmT">
                        <p class="earloop-Qzh">Earloop</p>
                        <p class="headloop-8Qu">Headloop</p>
                        <p class="earloop-4ZT">Earloop</p>
                        <p class="earloop-anh">Earloop</p>
                      </div>
                      <div class="group-1000002750-v5s">
                        <p class="item-12-10-2023-e1s">12-10-2023</p>
                        <p class="item-12-10-2023-B1o">12-10-2023</p>
                        <p class="item-12-10-2023-7RF">12-10-2023</p>
                        <p class="item-12-10-2023-Rwj">12-10-2023</p>
                      </div>
                      <div class="group-1000002753-xgm">
                        <div class="auto-group-om9o-huF">
                          <p class="surabaya-hospital-3TK">Surabaya Hospital</p>
                          <p class="item-12-10-2023-Y9B">12-10-2023</p>
                          <p class="headloop-fzV">Headloop</p>
                          <p class="item-1-12m">1</p>
                        </div>
                        <div class="group-1000002758-jDf">
                          <p class="k-t6Z">50k</p>
                          <div class="group-1000002752-pF7">
                            <p class="k-4SH">100k</p>
                            <p class="k-nNH">150k</p>
                            <p class="k-8S9">100k</p>
                            <p class="k-sed">100k</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="auto-group-ghdf-KmX">
        <div class="rectangle-7-rFf">
        </div>
        <div class="total-revenue-mdX">
          <div class="group-1000002743-VpR">
            <p class="total-revenue-3b3">Total Revenue</p>
            <div class="group-1000002742-yzV">
              <div class="group-1000002741-Y21">
                <div class="auto-group-7rld-u7T">
                  <p class="k-eaq">250k</p>
                  <img class="path-2-copy-5-PYR" src="./assets/path-2-copy-5.png" />
                </div>
                <div class="auto-group-sxsm-iKo">
                  <div class="auto-group-frd3-3ss">
                    <p class="k-zHK">200k</p>
                    <p class="k-X2M">150k</p>
                    <p class="k-42H">100k</p>
                    <p class="k-PqF">50k</p>
                    <p class="item-0-YCM">0</p>
                  </div>
                  <div class="auto-group-utpd-Gu3">
                    <img class="auto-group-kwr1-pQm" src="./assets/auto-group-kwr1.png" />
                    <img class="path-2-ZdF" src="./assets/path-2.png" />
                  </div>
                </div>
              </div>
              <div class="auto-group-myhb-78y">
                <div class="auto-group-juyd-r6Z">
                  <p class="monday-zTf">Monday</p>
                  <p class="tuesday-XTb">Tuesday</p>
                  <p class="wednesday-fJu">Wednesday</p>
                  <p class="thursday-z6H">Thursday</p>
                  <p class="friday-X6D">Friday</p>
                  <p class="saturday-eRj">Saturday</p>
                  <p class="sunday-yyo">Sunday</p>
                </div>
                <div class="group-2-Wyj">
                  <div class="group-15-DNM">
                    <div class="rectangle-copy-3-mPs">
                    </div>
                    <p class="online-sales-5fT">Headloop</p>
                  </div>
                  <div class="group-15-copy-pN9">
                    <div class="rectangle-copy-3-moB">
                    </div>
                    <p class="offline-sales-64m">Earloop</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="all-right-reserved-term-of-use-maskerku-MWV">2023 all Right Reserved Term of use MASKERKU</p>
    </div>
  </div>
</body>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>