<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>MASKERKU</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700%2C800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C700%2C800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C700"/>
  <link rel="stylesheet" href="css/home.css"/>
</head>
<body>
<div class="final-design-aPP" id="home">
  <div class="landing-page-UzZ">
    <div class="auto-group-2npf-7g9">
      <a class="maskerku-1Fj" onclick="scrollToElement('home')">MASKERKU</a>
      <div class="auto-group-r64m-iA9">
        <div class="frame-1-2Rj">
          <a onclick="scrollToElement('about')" class="home-MU1">About</a>
          <a onclick="scrollToElement('product')" class="products-cHT">Products</a>
          <a onclick="scrollToElement('contact')" class="contacts-8Wh">Contacts</a>
        </div>
        <div class="frame-2-5B3">
          <a href="/cart">
            <img class="cart-atV" src="./assets/cart-4F7.png"/>
          </a>
          <div class="dropdown">
            <!-- Button to trigger the dropdown -->
            <img class="person-W1T" src="./assets/person.png">
          
            <!-- Dropdown content -->
            <div class="dropdown-content">
              <a href="/logout">Sign Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-3-ECM">
      <div class="frame-9-i7X">
        <div class="frame-7-SJR">
          <p class="lets-keep-ourfamily-healthy-zaq">
          Let’s Keep Our
          <br/>
          Family Healthy
          </p>
          <div class="frame-6-Uku">
            <div class="auto-group-cd8z-c6R">
              <p class="item-95-Mph">95%+</p>
              <p class="effectifity-guarantee-fKb">
              Effectifity
              <br/>
              Guarantee
              </p>
            </div>
            <div class="auto-group-xa8v-9kZ">
              <div class="line-2-3L9">
              </div>
              <div class="frame-5-ZJV">
                <p class="k-KHf">100K+</p>
                <p class="activeconsumer-f6d">
                Active
                <br/>
                Consumer
                </p>
              </div>
            </div>
          </div>
        </div>
        <button class="frame-8-BKs" onclick="scrollToElement('about')">
          <p class="lets-make-a-tour-sTb">Let’s Make a Tour</p>
        </button>
      </div>
      <div class="auto-group-5wmx-6r9">
        <div class="rectangle-2-dr5">
        </div>
        <img class="boy-74823531280-removebg-preview-1-1-Yi9" src="./assets/boy-74823531280-removebg-preview-1-1.png"/>
      </div>
      <div class="frame-57-dzV">
      </div>
    </div>
  </div>
  <div class="auto-group-avmo-YjP">
    <div class="about-us-h6V" id="about">
      <div class="group-14-ovD">
        <div class="auto-group-mxch-xYD">
          <div class="auto-group-1rey-hVo">
            <img class="healthcare-1-dPT" src="./assets/healthcare-1.png"/>
          </div>
          <p class="guaranteed-health-kys">Guaranteed Health</p>
          <p class="effective-filtration-99-effective-protection-gMj">
          95% Effective Filtration &amp;
          <br/>
          99% Effective Protection
          </p>
        </div>
        <div class="auto-group-fkr9-BJV">
          <p class="about-us-X7T">About Us</p>
          <div class="frame-21-SVK">
            <div class="frame-18-QBF">
              <div class="group-1-jUR">
                <img class="telephoneoutbound-ebP" src="./assets/telephoneoutbound.png"/>
              </div>
              <p class="support-mvu">24/7 Support</p>
            </div>
            <p class="answers-to-any-business-related-inquiry-24-7-and-in-real-time-Wdb">
            answers to any business related
            <br/>
            inquiry 24/7 and in real-time.
            </p>
          </div>
        </div>
        <div class="frame-22-REm">
          <div class="frame-18-Nvh">
            <div class="group-1-iUm">
              <img class="vector-ECD" src="./assets/vector-4Vs.png"/>
            </div>
            <p class="fast-free-shipping-kwF">Fast &amp; Free Shipping</p>
          </div>
          <p class="day-or-less-delivery-time-free-shipping-and-an-expedited-delivery-option-gpu">4-day or less delivery time, free shipping and an expedited delivery option.</p>
        </div>
      </div>
    </div>
    <div class="categories-AVB">
      <div class="frame-58-tvy" id="product">
        <div class="frame-24-FFj">
          <p class="our-product-b4h">Our Product</p>
          <p class="find-what-you-are-looking-for-Xj3">Find what you are looking for</p>
        </div>
        <div class="frame-25-Tsb">
          <div class="group-24-cVb">
            <div class="rectangle-6-LgV">
            </div>
            <p class="headloop-mask-46h">Headloop Mask</p>
            <img class="download1-removebg-preview-1-mG1" src="./assets/download1-removebg-preview-1.png"/>
          </div>
          <div class="group-15-Vho">
            <div class="auto-group-t7cq-pzy">
              <img class="download-removebg-preview-1-ktd" src="./assets/download-removebg-preview-1.png"/>
            </div>
            <p class="earloop-mask-5g1">Earloop Mask</p>
          </div>
          <div class="frame-9-cR3" onclick="openModal()">BUY NOW</div>
              
          <!-- Modal container -->
          <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <!-- Form inside the modal -->
              <form method="post" action="addCart">

                <label for="product">Product:</label>
                <div class="dropdown-container">
                  <select id="product" name="product" class="dropdown-select">
                    <option value="product_option1">Headloop</option>
                    <option value="product_option2">Earloop</option>
                  </select>
                </div>
                  
                <label for="jumlahProduk">Jumlah Produk yang Dibeli:</label>
                <input type="number" id="jumlahProduk" name="jumlahProduk" placeholder="Jumlah produk">

                <button type="button" class="cancel" onclick="closeModal()">Cancel</button>
                <button type="button" onclick="submitForm()">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial-R7b">
    <div class="frame-24-XRX" id="contact">
      <p class="contact-us-fGq">Contact Us</p>
      <p class="tell-us-anything-bAV">Tell Us Anything</p>
    </div>
    <div class="group-22-iku">
      <div class="group-20-qqX">
        <div class="group-19-Mos">
          <input class="auto-group-3yvj-6mT" type="text"placeholder="Name"/>
          <input class="auto-group-6je1-5dP" type="email"placeholder="Email"/>
          <input class="auto-group-frmk-5mo" type="text" placeholder="what you wanna say ?"/>
          <div class="group-18-W6R">Submit</div>
        </div>
      </div>
      <img class="boy-78951291280-removebg-preview-1-jE5" src="./assets/boy-78951291280-removebg-preview-1.png"/>
    </div>
    <div class="frame-49-qY1">
      <div class="rectangle-5-aVb">
      </div>
      <div class="rectangle-4-KCH">
      </div>
      <div class="rectangle-3-TJV">
      </div>
    </div>
  </div>
  <div class="footer-z3X">
    <div class="auto-group-rk29-iER">
      <div class="frame-52-G13">
        <div class="frame-50-cah">
          <p class="maskerku-kwo">MASKERKU</p>
          <p class="lets-take-care-of-our-health-together-Hgq">Let’s Take Care of Our Health Together</p>
        </div>
        <div class="frame-51-nNh">
          <img class="group-11-8xM" src="./assets/group-11.png"/>
          <img class="group-12-tAq" src="./assets/group-12.png"/>
          <img class="group-13-EkV" src="./assets/group-13.png"/>
        </div>
      </div>
      <div class="frame-56-yTB">
        <div class="frame-53-KG9">
          <p class="information-Tt9">Information</p>
          <p class="about-oSD">About</p>
          <p class="product-K9f">Product</p>
          <p class="contact-EnR">Contact</p>
        </div>
        <div class="frame-55-aLV">
          <p class="social-media-877">Social Media</p>
          <p class="facebook-f73">Facebook</p>
          <p class="instagram-zQD">Instagram</p>
          <p class="twitter-KSV">Twitter</p>
        </div>
      </div>
    </div>
    <p class="all-right-reserved-term-of-use-maskerku-eDs">2023 all Right Reserved Term of use MASKERKU</p>
  </div>
</div>

<script>
  function scrollToElement(elementId) {
    const targetElement = document.getElementById(elementId);

    if (targetElement) {
      targetElement.scrollIntoView({
        behavior: 'smooth',
        block: 'start'
      });
    }
  }
  
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.getElementById("menu-button");
    const dropdownMenu = document.getElementById("dropdown-menu");

    menuButton.addEventListener("click", function () {
      dropdownMenu.classList.toggle("hidden");
    });
  });

  function openModal() {
    document.getElementById("myModal").style.display = "flex";
  }

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  function submitForm() {
    alert("Form submitted!");
    closeModal();
  }

</script>
</body>