
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.group-1000002749-1Am {
  width: 100%;
  height: 100%;
}
.group-1000002749-1Am .background-REV {
  box-sizing: border-box;
  padding: 2.092rem 2.5rem 0.61rem 1.857rem;
  width: 100%;
  height: 118.4rem;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 {
  margin: 0rem 0rem 3.6rem 0.543rem;
  width: calc(100% - 0.543rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 {
  margin-right: 4.6311rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .admin-maskerku-Xim {
  margin: 0rem 0rem 1.484rem 2.348rem;
  max-width: 9.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .vector-6-NDb {
  margin-bottom: 2.0658rem;
  width: 20.6689rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .group-1000002754-uUR {
  margin-left: 0.567rem;
  width: 20.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .group-1000002754-uUR .group-1000002755-pbP {
  box-sizing: border-box;
  padding: 1.12rem 8.352rem 0.87rem 1.471rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.35rem 0.55rem rgba(0, 0, 0, 0.0199999996);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .group-1000002754-uUR .group-1000002755-pbP .auto-group-58r9-iih {
  margin-right: 0.6774rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .group-1000002754-uUR .group-1000002755-pbP .dashboard-TAV {
  margin-top: 0.055rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .group-1000002754-uUR .auto-group-ws17-6DT {
  box-sizing: border-box;
  padding: 2.311rem 1.371rem 0rem 1.371rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .group-1000002754-uUR .auto-group-ws17-6DT .group-1000002757-Yjf {
  margin-right: 7.6289rem;
  width: calc(100% - 7.6289rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .group-1000002754-uUR .auto-group-ws17-6DT .group-1000002757-Yjf .auto-group-yaw7-5zV {
  margin-right: 0.7289rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .group-1000002759-Qu3 .group-1000002754-uUR .auto-group-ws17-6DT .group-1000002757-Yjf .add-stock-E6h {
  margin-top: 0.1099rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK {
  margin-top: 0.6082rem;
  width: 97.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .breadcrumb-tww {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .breadcrumb-tww .dashboard-4Ld {
  margin: 0.522rem 87.195rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3999999364;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .breadcrumb-tww .menu-Ns7 {
  width: 2.1046rem;
  height: 2.1rem;
  left: 10px;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd {
  box-sizing: border-box;
  padding-top: 1.4783rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd {
  margin: 0rem 0rem 3.6rem 0rem;
  width: calc(100% - 0rem);
  height: 8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-nR3 {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 1.75rem 2.695rem 1.75rem 2.702rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.35rem 0.55rem rgba(0, 0, 0, 0.0199999996);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-nR3 .text-uVf {
  margin-right: 10.5031rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-nR3 .text-uVf .todays-money-Tn5 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5000000397;
  color: #a0aec0;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-nR3 .text-uVf .item-53000-YoX {
  margin-top: -0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-nR3 .icon-HFK {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-Yww {
  box-sizing: border-box;
  padding: 1.75rem 2.695rem 1.75rem 2.702rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.35rem 0.55rem rgba(0, 0, 0, 0.0199999996);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-Yww .text-TJD {
  margin-right: 10.5031rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-Yww .text-TJD .todays-money-bvD {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5000000397;
  color: #a0aec0;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-Yww .text-TJD .item-53000-wUH {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .group-1000002760-epd .todays-money-Yww .icon-sMw {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK {
  margin-right: 0rem;
  box-sizing: border-box;
  padding: 1.997rem 1.375rem 1.445rem 1.284rem;
  width: calc(100% - 0rem);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.35rem 0.55rem rgba(0, 0, 0, 0.0199999996);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .text-6Vb {
  margin-bottom: 2.7947rem;
  width: 13.0618rem;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .text-6Vb .recent-sales-rDs {
  margin-bottom: 0.4966rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3999999364;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .text-6Vb .recent-sales-rDs .recent-sales-rDs-sub-0 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2599999428;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .text-6Vb .recent-sales-rDs .recent-sales-rDs-sub-1 {
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .text-6Vb .auto-group-lczj-4z9 {
  margin-left: 0.1487rem;
  width: calc(100% - 0.1487rem);
  display: flex;
  align-items: center;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .text-6Vb .auto-group-lczj-4z9 .ionicon-c-checkmark-c-circle-R41 {
  margin: 0rem 0.624rem 0.102rem 0rem;
  width: 1.2886rem;
  height: 1.2174rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .text-6Vb .auto-group-lczj-4z9 .sales-this-week-Kv5 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4000000272;
  color: #a0aec0;
  font-family: Abhaya Libre Medium, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM {
  margin-left: 0.0917rem;
  width: 95.0494rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .auto-group-jan9-oKT {
  box-sizing: border-box;
  padding-bottom: 1.8648rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .auto-group-jan9-oKT .titles-Y29 {
  margin: 0rem 0rem 0.935rem 0.024rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .auto-group-jan9-oKT .titles-Y29 .customer-fMf {
  margin: 0.012rem 25.039rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #a0aec0;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .auto-group-jan9-oKT .titles-Y29 .date-MVP {
  margin: 0rem 14.151rem 0.012rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #a0aec0;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .auto-group-jan9-oKT .titles-Y29 .item-tVK {
  margin: 0rem 16.878rem 0.012rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #a0aec0;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .auto-group-jan9-oKT .titles-Y29 .amount-DnV {
  margin: 0.012rem 16.601rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #a0aec0;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .auto-group-jan9-oKT .titles-Y29 .total-9w3 {
  margin-bottom: 0.0118rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #a0aec0;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .auto-group-jan9-oKT .lines-6bP {
  width: 95.0494rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf {
  width: 100%;
  height: 27.0555rem;
  position: relative;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .content-QMB {
  width: 69.366rem;
  height: 2rem;
  position: absolute;
  left: 0.4279rem;
  top: 25.0555rem;
  display: flex;
  align-items: center;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .content-QMB .ujang-8Y5 {
  margin: 0rem 64.966rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .content-QMB .item-2-eWR {
  margin-top: 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .launch-our-mobile-app-KcZ {
  width: 95.0494rem;
  height: 4.0455rem;
  position: absolute;
  left: 0;
  top: 18.8623rem;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .launch-our-mobile-app-KcZ .content-FFK {
  margin: 0rem 25.283rem 2.046rem 0.428rem;
  width: calc(100% - 25.711rem);
  display: flex;
  align-items: center;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .launch-our-mobile-app-KcZ .content-FFK .bejo-xvR {
  margin: 0rem 65.838rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .launch-our-mobile-app-KcZ .content-FFK .item-2-fpq {
  margin-top: 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .launch-our-mobile-app-KcZ .line-zcD {
  width: 95.0494rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .fix-platform-errors-9k1 {
  width: 95.0494rem;
  height: 4.0455rem;
  position: absolute;
  left: 0;
  top: 12.6691rem;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .fix-platform-errors-9k1 .content-HLR {
  margin: 0rem 25.22rem 2.046rem 0.367rem;
  width: calc(100% - 25.5863rem);
  display: flex;
  align-items: center;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .fix-platform-errors-9k1 .content-HLR .kimia-farma-2J1 {
  margin: 0rem 61.063rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .fix-platform-errors-9k1 .content-HLR .item-3-Yn9 {
  margin-top: 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .fix-platform-errors-9k1 .line-Uvh {
  width: 95.0494rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .progress-track-dYh {
  width: 95.0494rem;
  height: 4.0455rem;
  position: absolute;
  left: 0;
  top: 6.476rem;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .progress-track-dYh .content-MzV {
  margin: 0rem 25.141rem 2.046rem 0.244rem;
  width: calc(100% - 25.385rem);
  display: flex;
  align-items: center;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .progress-track-dYh .content-MzV .clinic-mulyosari-5fb {
  margin: 0rem 59.364rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .progress-track-dYh .content-MzV .item-2-BTj {
  margin-top: 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .progress-track-dYh .line-KK3 {
  width: 95.0494rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD {
  width: 95.0494rem;
  height: 27.0555rem;
  position: absolute;
  left: 0rem;
  top: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .line-Cdj {
  width: 95.0494rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 4.3283rem;
  object-fit: contain;
  vertical-align: top;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 {
  width: 91.3979rem;
  height: 27.0555rem;
  position: absolute;
  left: 0.1833rem;
  top: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002751-tmT {
  width: 5.9rem;
  height: 20.1799rem;
  position: absolute;
  left: 46.3182rem;
  top: 6.8755rem;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002751-tmT .earloop-Qzh {
  margin-bottom: 3.7936rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002751-tmT .headloop-8Qu {
  margin-bottom: 4.1932rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002751-tmT .earloop-4ZT {
  margin: 0rem 0rem 4.193rem 0.1rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002751-tmT .earloop-anh {
  margin-left: 0.0999rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002750-v5s {
  width: 7.0198rem;
  height: 20.5795rem;
  position: absolute;
  left: 28.9333rem;
  top: 6.476rem;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002750-v5s .item-12-10-2023-e1s {
  margin-bottom: 4.1932rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002750-v5s .item-12-10-2023-B1o {
  margin-bottom: 4.1932rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002750-v5s .item-12-10-2023-7RF {
  margin: 0rem 0rem 4.193rem 0.107rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002750-v5s .item-12-10-2023-Rwj {
  margin-left: 0.3198rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm {
  width: 91.3979rem;
  height: 26.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .auto-group-om9o-huF {
  box-sizing: border-box;
  padding: 0.283rem 18.555rem 0.283rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .auto-group-om9o-huF .surabaya-hospital-3TK {
  margin: 0rem 17.827rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .auto-group-om9o-huF .item-12-10-2023-Y9B {
  margin-right: 10.9121rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .auto-group-om9o-huF .headloop-fzV {
  margin: 0rem 16.605rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .auto-group-om9o-huF .item-1-12m {
  margin-top: 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .group-1000002758-jDf {
  width: 3.0999rem;
  height: 100%;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .group-1000002758-jDf .k-t6Z {
  margin-bottom: 4.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .group-1000002758-jDf .group-1000002752-pF7 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .group-1000002758-jDf .group-1000002752-pF7 .k-4SH {
  margin-bottom: 4.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .group-1000002758-jDf .group-1000002752-pF7 .k-nNH {
  margin-bottom: 4.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .group-1000002758-jDf .group-1000002752-pF7 .k-8S9 {
  margin-bottom: 4.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-gux5-PU9 .auto-group-glzh-MBK .auto-group-vfbt-WCd .background-mTK .list-exM .items-rKf .soft-ui-xd-5JD .content-x77 .group-1000002753-xgm .group-1000002758-jDf .group-1000002752-pF7 .k-sed {
  margin-left: 0.1999rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4000000272;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX {
  margin: 0rem 0rem 2.39rem 0rem;
  width: calc(100% - 0rem);
  height: 48rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .rectangle-7-rFf {
  margin: 0rem 4rem 0.023rem 0rem;
  width: 21.843rem;
  height: 20.5476rem;
  background-color: #f8f9fa;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX {
  box-sizing: border-box;
  padding: 3.484rem 4.246rem 3.829rem 4.246rem;
  width: 97.8rem;
  height: 100%;
  border: solid 0.1rem #f8f9fa;
  box-shadow: 0 0.4rem 2rem rgba(237, 237, 237, 0.5019667745);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .total-revenue-3b3 {
  margin-bottom: 4.7049rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  color: #2d3748;
  font-family: Abhaya Libre SemiBold, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-7rld-u7T {
  margin-bottom: 1.5064rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-7rld-u7T .k-eaq {
  margin-right: 3.0135rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-7rld-u7T .path-2-copy-5-PYR {
  margin-top: 0.6469rem;
  width: 83.3953rem;
  height: 0.1368rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo .auto-group-frd3-3ss {
  margin-right: 3.0135rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo .auto-group-frd3-3ss .k-zHK {
  margin-bottom: 2.8379rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo .auto-group-frd3-3ss .k-X2M {
  margin-bottom: 2.8379rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo .auto-group-frd3-3ss .k-42H {
  margin-bottom: 2.8379rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo .auto-group-frd3-3ss .k-PqF {
  margin-bottom: 2.8379rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo .auto-group-frd3-3ss .item-0-YCM {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo .auto-group-utpd-Gu3 {
  margin-bottom: 0.8539rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo .auto-group-utpd-Gu3 .auto-group-kwr1-pQm {
  width: 83.3953rem;
  height: 19.6923rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .group-1000002741-Y21 .auto-group-sxsm-iKo .auto-group-utpd-Gu3 .path-2-ZdF {
  width: 83.3953rem;
  height: 0.1368rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y {
  box-sizing: border-box;
  padding: 1.728rem 3.613rem 0rem 9.377rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .auto-group-juyd-r6Z {
  margin-bottom: 3.4758rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .auto-group-juyd-r6Z .monday-zTf {
  margin-right: 6.9786rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .auto-group-juyd-r6Z .tuesday-XTb {
  margin-right: 5.677rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .auto-group-juyd-r6Z .wednesday-fJu {
  margin-right: 5.5786rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .auto-group-juyd-r6Z .thursday-z6H {
  margin-right: 7.3286rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .auto-group-juyd-r6Z .friday-X6D {
  margin-right: 7.227rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .auto-group-juyd-r6Z .saturday-eRj {
  margin-right: 6.9286rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .auto-group-juyd-r6Z .sunday-yyo {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #7a91b0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .group-2-Wyj {
  margin: 0rem 21.86rem 0rem 22.162rem;
  box-sizing: border-box;
  padding: 0.2rem 6.214rem 0.388rem 0rem;
  width: calc(100% - 44.0216rem);
  height: 2.188rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .group-2-Wyj .group-15-DNM {
  margin-right: 11.0275rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .group-2-Wyj .group-15-DNM .rectangle-copy-3-mPs {
  margin: 0.051rem 0.91rem 0rem 0rem;
  width: 1.6679rem;
  height: 1.5043rem;
  background-color: #e54848;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .group-2-Wyj .group-15-DNM .online-sales-5fT {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #222b45;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .group-2-Wyj .group-15-copy-pN9 {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .group-2-Wyj .group-15-copy-pN9 .rectangle-copy-3-moB {
  margin: 0.051rem 0.91rem 0rem 0rem;
  width: 1.6679rem;
  height: 1.5043rem;
  background-color: #4fd1c5;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .auto-group-ghdf-KmX .total-revenue-mdX .group-1000002743-VpR .group-1000002742-yzV .auto-group-myhb-78y .group-2-Wyj .group-15-copy-pN9 .offline-sales-64m {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #222b45;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-1000002749-1Am .background-REV .all-right-reserved-term-of-use-maskerku-MWV {
  margin-left: 0.043rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5000000397;
  color: #a0aec0;
  font-family: Abhaya Libre Medium, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
